body,html{
  margin: 0;
  padding: 0;
}
.home {
  
  background-image: url("/photo.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* Da 768px in su (desktop) */
@media screen and (min-width: 768px) {
  .home {
    background-image: url("/photo-desktop.png");
  }
}
